* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: black;
}

h1 {
  font-size: 1.62em;
  color: black;
}

h2 {
  font-size: 1.4em;
  color: black;
}

h3 {
  font-size: 1em;
  color: black;
  padding-top: 1em;
}

input {
  font-size: 1em;
  margin-top: 0px;
}

.redborder {
   border: 1px solid red;
}

.box, .widebox {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.box {
  clear: both;
}

.widebox {
  margin-bottom: 0;
  clear: both;
}

.heading {
  background-color: #ff9900;
}

.configuration {
  background-color: #ffcf0d;
}

.centered {
  text-align: center;
}

#logo {
  vertical-align: middle;
  border: 1px solid #ffcf0d;
}

.led-table {
  width: 100%;
  border-collapse: collapse;
}

.led-table td, .led-table th {
  text-align: center;
  vertical-align: middle;
  width: 6.25%;
  height: 1.2em;
  border-left: 2px solid #ffcf0d;
}

.led-table th {
  font-size: 0.8em;
}

.led-table td {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  cursor: default;
}

.led-table .odd {
  background: #e8a60c;
}

.led-table input {
  width: 3.5em;
}
