[Desktop Entry]
Encoding=UTF-8
Name=Link to Pololu - Pololu Adjustable Boost Regulator 2.5-9.5V
Type=Link
URL=http://www.pololu.com/catalog/product/791
Icon=gnome-fs-bookmark
