*~
*.bak
*-bak
firmware/*.tmp
firmware/*.hex
firmware/*.lst
firmware/*.cod
firmware/*.o
firmware/*.a
firmware/*.map
electronics/*.?#*
electronics/rc-light-controller/*.b#*
electronics/rc-light-controller/*.s#*
*.sublime-workspace
gh-pages
