# UDEV rules for the   LANE Boys RC   Light Controller Mk5
#
# Installing this rule allows ordinary users to access the Light Controller via
# USB, e.g. using the browser based configurator (WebUSB) or dfu-util to
# update the firmware.
#
#
# For manual installation use the following command:
#
#   sudo cp light-controller.rules /etc/udev/rules.d/52-laneboysrc-light-controller.rules
#
# After this file is installed, physically unplug and reconnect the
# Light Controller.
#
# When installed via .deb or .rpm this file resides in /usr/lib/udev/rules.d/

SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="6666", ATTRS{idProduct}=="cab0", TAG+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="6666", ATTRS{idProduct}=="cab1", TAG+="uaccess", SYMLINK+="light-controller-$attr{serial}"
