# UDEV Rules for the DIY RC Light Controller Mk5
#
# This will allow reflashing with DFU-util without using sudo on Ubuntu.
#
# This file must be placed at:
#
# /etc/udev/rules.d/50-light-controller.rules
#
# To install, type this command in a terminal:
#   sudo cp 50-light-controller.rules /etc/udev/rules.d/50-light-controller.rules
#
# After this file is installed, physically unplug and reconnect the
# light controller.
#

SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="6666", ATTRS{idProduct}=="cab0", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="6666", ATTRS{idProduct}=="cab1", MODE="0666"
